<div class="manage-exchange">
  <form>
    <div class="form-group form-inline justify-content-between">
      <span>Total: {{total$ | async}}</span>
      <button type="button" class="btn btn-primary" (click)="handleOpenNewModal(stockExchangeModal)">Add</button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" sortable="shortName">Exchange Code</th>
        <th scope="col" sortable="name">Name</th>
        <th scope="col" sortable="region">Region</th>
        <th scope="col" sortable="contact">Contact Address</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let exchange of exchangeList$ | async">
        <th scope="row">{{ exchange.logo }}</th>
        <td>{{ exchange.shortName }}</td>
        <td>{{ exchange.name }}<span class="link link-primary" ngbPopover="{{exchange.brief}}" triggers="mouseenter:mouseleave" popoverTitle="Brief">&nbsp; [View Brief]</span></td>
        <td>{{ exchange.region }}</td>
        <td>{{ exchange.contactAddress }}</td>
        <td>
          <span class="smc-edit-button mr-2" (click)="handleOpenEditModal(stockExchangeModal, exchange)"><i class="iconfont icon-edit"></i></span>
          <span class="smc-deactive-button cp" (click)="handleDeactiveCompany(exchange)"><i class="iconfont icon-shanchu"></i></span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="stockExchangeService.page" [pageSize]="stockExchangeService.pageSize">
      </ngb-pagination>
    </div>
  </form>
  <!-- Modal -->
  <ng-template #stockExchangeModal let-modal>
    <div class="modal-header">
      <h6 class="modal-title">{{exchangeModalTitle}}</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="false">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-md-6"><span class="fixed-modal-label">Stock Exchange: </span> <input type="text" name="name" [(ngModel)]="currExchange.name"/></div>
          <div class="col-md-6"><span class="fixed-modal-label">Short Name:</span> <input type="text" name="shortName" [(ngModel)]="currExchange.shortName"/> </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6"><span class="fixed-modal-label">Region:</span><input type="text" name="region" [(ngModel)]="currExchange.region"/> </div>
          <div class="col-md-6"><span class="fixed-modal-label">Contact Addr:</span><input type="text" name="companyName" [(ngModel)]="currExchange.contactAddress"/> </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 d-flex align-items-start">
            <span class="fixed-modal-label">Brief:</span>
            <textarea name="brief" rows="4" maxlength="800" placeholder="please fill stock exchange brief description." style="width: calc(100% - 178px);" [(ngModel)]="currExchange.brief"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-primary" (click)="handleSave()">Save</button>
    </div>
  </ng-template>
</div>