.import-data-page{
  .form-group{
    display: flex;
    align-items: center;
    label{
      margin: 0px 12px 0px 0px;
      line-height: 31px;
    }
    input[type='file']{
      padding: 1px;
      width: auto;
    }
    .upload-button{
      margin-left: 12px;;
    }
  }
}