<div class="reset-password-page container-fluid">
  <div class="profile-update-form" *ngIf="!showSuccess">
    <div class="form-group form-inline mb-3">
      <div class="input-group input-group-sm">
        <span class="d-inline-flex align-items-center" style="width: 130px;">Old Password:</span>
        <input type="password" name="userName" [(ngModel)]="oldPassword" style="width: 200px;"/>
      </div>
    </div>
    <div class="form-group form-inline mb-3">
      <div class="input-group input-group-sm">
        <span class="d-inline-flex align-items-center" style="width: 130px;">New Password:</span>
        <input type="password" name="mobile" [(ngModel)]="newPassword" style="width: 200px;"/>
      </div>
    </div>
    <div class="form-group form-inline mb-3">
      <div class="input-group input-group-sm">
        <span class="d-inline-flex align-items-center" style="width: 130px;">New Confirm:</span>
        <input type="password" name="mobile" [(ngModel)]="newConfirm" style="width: 200px;"/>
      </div>
    </div>
    <div class="form-group mb-3" style="margin-top: 50px;">
      <div class="input-group input-group-sm justify-content-start" >
        <button class="btn btn-primary" (click)="handleSubmitUpdate()">Update</button>
      </div>
    </div>
  </div>
  <div class="showSuccess" *ngIf="showSuccess">
    Your passord have been updated successfully.
  </div>
</div>