<!-- Toolbar -->
<div class="headerbar" role="banner">
  <span class="headertitle">Stock Marketing Charting V5.0</span>
  <div *ngIf="globalService.isAdmin" class="status-area" ngbDropdown>
    <span>Hi, Admin</span><span style="cursor: pointer;" id="myProfileMenue" ngbDropdownToggle><i class="iconfont icon-user"></i></span>
    <div ngbDropdownMenu aria-labelledby="myProfileMenue">
      <button ngbDropdownItem>Log Out</button>
    </div>
  </div>
  <div *ngIf="!globalService.isAdmin" class="status-area" ngbDropdown>
    <span>Hi, {{ globalService.currentUser?.username }}</span><span style="cursor: pointer;" id="myProfileMenue" ngbDropdownToggle><i class="iconfont icon-user"></i></span>
    <div ngbDropdownMenu aria-labelledby="myProfileMenue">
      <button ngbDropdownItem (click)="goToLink('/helpcenter')">Help Center</button>
      <button ngbDropdownItem (click)="goToLink('/updatepwd')">Update Password</button>
      <button ngbDropdownItem (click)="goToLink('/profile')">My Profiles</button>
      <button ngbDropdownItem (click)="handleLogOut()">Log Out</button>
    </div>
  </div>
</div>
<div class="menuebar" role="banner">
  <!-- your navs bound to current route fragments -->
  <ul ngbNav [activeId]="activatedRoute.fragment | async" class="nav-tabs">
    <li [ngbNavItem]="menue.fragment" *ngFor="let menue of navMenue">
      <a ngbNavLink [routerLink]="menue.fragment">{{ menue.title }}</a>
    </li>
  </ul>
</div>

<div class="content-main container" role="main">
  <router-outlet></router-outlet>
</div>
<smc-loading [type]="'global'"></smc-loading>
<smc-toasts aria-live="polite" aria-atomic="true"></smc-toasts>