<div class="import-success-page container">
  <div class="result-board">
    <div class="result-message">
      <i class="iconfont icon-face xxl"></i> <p>Congratulation! <br/>
      you have successfully upload the file.</p>
    </div>
    <div>
      <span>Stock Code: </span><span>{{stockCode}}</span>
    </div>
    <div>
      <span>Stock Exchange: </span><span>{{stockExchange}}</span>
    <div>
      <span>No. of records imported: </span><span>{{numOfImported}}</span>
    </div>
    <div>
      <span>From Date: </span><span>{{fromDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
    <div>
      <span>End Date: </span><span>{{endDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
  </div>
  <div class="action-bar"><input type="button" class="btn btn-primary close-button" value="Close" (click)="handleClose()"/></div>
</div>
